# Notebook to generate all weather pkl files

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join("../.."))
if module_path not in sys.path:
    sys.path.append(module_path)

import h3
import pandas as pd

In [2]:
from h3.dataloading import weather
from h3.utils import directories
from h3.utils.set_up import check_if_data_file_exists

/Users/orlandotimmerman/opt/miniconda3/envs/h3/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Generate NOAA Best Track HURDAT2 data

#### All NOAA hurricanes

In [5]:
# path to necessary file for generating NOAA hurricanes data
isd_metadata_path = os.path.join(directories.get_h3_data_files_dir(), 'hurdat2-1851-2021-meta.txt')
noaa_hurricanes_pkl_name = 'noaa_hurricanes.pkl'

# if pkl file containing all NOAA hurricanes doesn't exist:
if not check_if_data_file_exists(noaa_hurricanes_pkl_name):
	print(f"Generating {noaa_hurricanes_pkl_name} in correct folder location.")
	# generate it
	noaa_hurricanes = weather.generate_and_save_noaa_best_track_pkl(isd_metadata_path, xbd_hurricanes_only=False)
# if pkl file containing all NOAA hurricanes does exist at correct location, display it
else:
	noaa_hurricanes = pd.read_pickle(os.path.join(directories.get_noaa_data_dir(), noaa_hurricanes_pkl_name))

noaa_hurricanes.head()

noaa_hurricanes.pkl found at correct location: /Users/orlandotimmerman/Library/CloudStorage/GoogleDrive-rt582@cam.ac.uk/My Drive/ai4er/python/hurricane/hurricane-harm-herald/data/datasets/weather/noaa/noaa_hurricanes.pkl.

,tag,name,num_entries,date,record_id,sys_status,lat,long,max_sust_wind,min_p,...,r_ne_50,r_se_50,r_nw_50,r_sw_50,r_ne_64,r_se_64,r_nw_64,r_sw_64,r_max_wind,strength
0,AL011851,UNNAMED,14,1851-06-25 00:00:00,,HU,28.0,-94.8,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,AL011851,UNNAMED,14,1851-06-25 06:00:00,,HU,28.0,-95.4,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,AL011851,UNNAMED,14,1851-06-25 12:00:00,,HU,28.0,-96.0,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,AL011851,UNNAMED,14,1851-06-25 18:00:00,,HU,28.1,-96.5,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,AL011851,UNNAMED,14,1851-06-25 21:00:00,L,HU,28.2,-96.8,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

#### Only NOAA hurricanes represented in the xBD dataset

In [6]:
noaa_xbd_hurricanes_pkl_name = 'noaa_xbd_hurricanes.pkl'

#  if pkl file containing all NOAA hurricanes represented in the xBD dataset doesn't exist:
if not check_if_data_file_exists(noaa_xbd_hurricanes_pkl_name):
	print(f"Generating {noaa_xbd_hurricanes_pkl_name} in correct folder location.")
	# generate it
	noaa_xbd_hurricanes = weather.generate_and_save_noaa_best_track_pkl(isd_metadata_path, xbd_hurricanes_only=True)
# if pkl file containing all NOAA hurricanes does exist at correct location, display it
else:
	noaa_xbd_hurricanes = pd.read_pickle(os.path.join(directories.get_noaa_data_dir(), noaa_xbd_hurricanes_pkl_name))

noaa_xbd_hurricanes.head()

noaa_xbd_hurricanes.pkl found at correct location: /Users/orlandotimmerman/Library/CloudStorage/GoogleDrive-rt582@cam.ac.uk/My Drive/ai4er/python/hurricane/hurricane-harm-herald/data/datasets/weather/noaa/noaa_xbd_hurricanes.pkl.

,tag,name,num_entries,date,record_id,sys_status,lat,long,max_sust_wind,min_p,...,r_ne_50,r_se_50,r_nw_50,r_sw_50,r_ne_64,r_se_64,r_nw_64,r_sw_64,r_max_wind,strength
51171,AL062018,FLORENCE,79,2018-09-18 12:00:00,,EX,42.2,-73.3,25,1006.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51170,AL062018,FLORENCE,79,2018-09-18 06:00:00,,EX,41.3,-76.8,25,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51169,AL062018,FLORENCE,79,2018-09-18 00:00:00,,EX,39.5,-80.5,25,1008.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51168,AL062018,FLORENCE,79,2018-09-17 18:00:00,,EX,38.8,-82.0,25,1008.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51167,AL062018,FLORENCE,79,2018-09-17 12:00:00,,EX,37.8,-82.2,25,1008.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0

## ECMWF data

In [ ]:
# if pkl file containing all NOAA hurricanes represented in the xBD dataset doesn't exist:
if not check_if_data_file_exists('noaa_xbd_hurricanes.pkl'):

In [ ]:
xbd_points_ecmwf = weather.generate_ecmwf_pkl(distance_buffer=5)

## Global ISD â€“ weather station data