# Notebook to generate all weather pkl files

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join("../.."))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import h3

Global seed set to 17

In [3]:
from h3.dataloading import weather
from h3.utils.directories import get_h3_data_files_dir

### NOAA Best Track HURDAT2 data

In [4]:
get_h3_data_files_dir()

'/Users/orlandotimmerman/Library/CloudStorage/GoogleDrive-rt582@cam.ac.uk/My Drive/ai4er/python/hurricane/hurricane-harm-herald/h3/data_files'

In [7]:
isd_metadata_path = os.path.join(get_h3_data_files_dir(), 'hurdat2-1851-2021-meta.txt')
noaa_best_track = weather.generate_noaa_best_track_pkl(isd_metadata_path, xbd_hurricanes_only=False)
noaa_best_track.head()

,tag,name,num_entries,date,record_id,sys_status,lat,long,max_sust_wind,min_p,...,r_ne_50,r_se_50,r_nw_50,r_sw_50,r_ne_64,r_se_64,r_nw_64,r_sw_64,r_max_wind,strength
0,AL011851,UNNAMED,14,1851-06-25 00:00:00,,HU,28.0,-94.8,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,AL011851,UNNAMED,14,1851-06-25 06:00:00,,HU,28.0,-95.4,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,AL011851,UNNAMED,14,1851-06-25 12:00:00,,HU,28.0,-96.0,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,AL011851,UNNAMED,14,1851-06-25 18:00:00,,HU,28.1,-96.5,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,AL011851,UNNAMED,14,1851-06-25 21:00:00,L,HU,28.2,-96.8,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [10]:
noaa_xbd_best_track = weather.generate_noaa_best_track_pkl(isd_metadata_path, xbd_hurricanes_only=True)
noaa_xbd_best_track.head()

,tag,name,num_entries,date,record_id,sys_status,lat,long,max_sust_wind,min_p,...,r_ne_50,r_se_50,r_nw_50,r_sw_50,r_ne_64,r_se_64,r_nw_64,r_sw_64,r_max_wind,strength
51171,AL062018,FLORENCE,79,2018-09-18 12:00:00,,EX,42.2,-73.3,25,1006.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51170,AL062018,FLORENCE,79,2018-09-18 06:00:00,,EX,41.3,-76.8,25,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51169,AL062018,FLORENCE,79,2018-09-18 00:00:00,,EX,39.5,-80.5,25,1008.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51168,AL062018,FLORENCE,79,2018-09-17 18:00:00,,EX,38.8,-82.0,25,1008.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
51167,AL062018,FLORENCE,79,2018-09-17 12:00:00,,EX,37.8,-82.2,25,1008.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0

## ECMWF data